.stac-table {

  &-item {

    &-row {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
      height: 1.5em;
      padding: 1em;
      cursor: pointer;
      border-bottom: 1px solid #54A19A;

      &:hover {
        background-color: #54a19a39;
        color: white;
      }


    }
  }
}