.MuiTableContainer-root {
  margin-top: 1.2em;
}

.MuiTableHead {
  &-root {
    display: table-header-group !important;
    background-color: gray !important;
  }

  &-custom-button {
    color: white !important;
  }
}

.muiTableHeadCell div {
  align-items: flex-end !important;
}
